<header class="ren-header">
    <div class="ren-logo">
        {% if theme_config.logo %}
            <img src="{{ url(theme_config.logo) }}" alt="Logo" />
        {% else %}
            <h1>{{ site.title }}</h1>
        {% endif %}
    </div>
    <nav class="ren-nav">
        <ul>
            {% for page in pages.visible %}
                <li><a href="{{ page.url }}">{{ page.menu ?: page.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
