<nav class="ren-nav" role="navigation">
    <ul>
        <li><a href="{{ base_url_relative }}">Home</a></li>
        <li><a href="https://multiplayerforums.com/files/">Downloads</a></li>
        <li><a href="https://multiplayerforums.com/">Community</a></li>
    </ul>
</nav>
