<div class="ren-section">
    <div class="ren-section-title">
        {% if page.header.icon %}
            <img class="section-icon" src="{{ url(page.header.icon) }}" alt="{{ page.title }}" />
        {% endif %}
        <h2>{{ page.title }}</h2>
    </div>

    {% if page.children.count > 0 %}
        {% set rows = page.children.visible %}
    {% else %}
        {% set rows = site.find('tutorials') ? site.find('tutorials').children.visible : [] %}
    {% endif %}

    {% from 'macros/tutorials_table.twig' import tutorials_table %}
    {{ tutorials_table(rows) }}
</div>

